<section class="about" id="about">
    <div class="about-container container">
        <ul class="about-list list">
            <li class="about-item">
                <img class="about-img" src="../img/about/first.jpg" alt="second_about_jpg"
                    width="398" height="422">
            </li>
            <li>
                <img class="about-img" src="../img/about/second.jpg" alt="first_about_jpg"
                    width="301" height="319">
            </li>
        </ul>
         <div class="about-right-side"> 
          <p class="uppertitle"><span class="text-color">About</span>CanvasLancer</p>
            <h2 class="about-title title">Introduction To Best <span class="text-color">Digital Agency</span></h2>

          <p class="about-desc">
            Lorem ipsum dolor sit amet consectetur. Adipiscing nisl id at arcu
            enim id gravida pulvinar. Tristique consectetur mi curabitur congue
            enim dignissim amet justo. Porta morbi nulla aliquet adipiscing. Sed
            diam mauris erat faucibus eu posuere ultricies quisque amet. Quam
            pellentesque in tristique sed neque scelerisque quam pulvinar. Risus
            dictum elementum lacus urna. Neque eget sagittis vulputate nam id
            morbi id. Aliquam molestie posuere pulvinar arcu
          </p>
          <button class="btn" type="button">Hire Us</button>
        </div>
    </div>
</section>