<section class="contacts section">
  <div class="contacts-container container">
    <h2 class="contacts-title title">Fresh Harvest Box has got you covered</h2>
    <ul class="contacts-list list">
      <li class="contacts-item">
        <img
          class="contacts-img"
          srcset="
            ./images/contacts/img-1_335.jpg   335w,
            ./images/contacts/img-1_344.jpg   344w,
            ./images/contacts/img-1_792.jpg   792w,
            ./images/contacts/img-1_670.jpg   670w,
            ./images/contacts/img-1_688.jpg   688w,
            ./images/contacts/img-1_1584.jpg 1584w
          "
          sizes="(min-width: 1280px) 792px, (min-width: 768px) 344px, (min-width: 335px), 100vw"
          src="./images/contacts/img-1_335.jpg"
          alt="fruit-malon"
          width="792"
          height="502"
          loading="lazy"
        />
      </li>
      <li class="contacts-item">
        <img
          class="contacts-img"
          srcset="
            ./images/contacts/img-2_344.jpg 344w,
            ./images/contacts/img-2_400.jpg 400w,
            ./images/contacts/img-2_688.jpg 688w,
            ./images/contacts/img-2_800.jpg 800w
          "
          sizes="(min-width: 1280px) 400px, (min-width: 768px) 344px"
          src="./images/contacts/img-2_344.jpg"
          alt="fruit-malon"
          width="400"
          height="502"
          loading="lazy"
        />
      </li>
    </ul>
    <p class="contacts-text">
      Our boxes are packed with delicious, nutritious fruits and vegetables, perfect for anyone
      looking to eat healthier or support local farmers. Order your box today and start enjoying the
      best that nature has to offer!
    </p>
    <form class="contacts-form">
      <label class="contacts-form-field">
        <div class="modal-form-input-wrap">
          <input
            type="email"
            name="user_email"
            class="contacts-form-imput"
            placeholder="Enter email..."
          />
          <button type="button" class="contacts-form-button">Send</button>
        </div>
      </label>
    </form>
  </div>
</section>
