<section class="fruits-section section" id="fruits">
  <div class="container">
    <h2 class="fruits-title">Organic fruits</h2>
    <p class="fruits-uppertitle">
      Our organic fruits are hand-picked from local farms and delivered straight to your doorstep,
      ensuring that you get the freshest and most nutritious produce possible. We offer a wide
      selection of organic fruits grown without the use of harmful pesticides or chemicals.
    </p>
    <ul class="fruits-card">
      <li class="fruits-item strawberry">
        <h3 class="fruits-name">Strawberry</h3>
        <p class="fruits-plant">Plant</p>
        <div class="fruits-picture">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="./image/fruits/strawberry@1x.png 1x, ./image/fruits/strawberry@2x.png 2x"
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="./image/fruits/strawberry@1x.png 1x, ./image/fruits/strawberry@2x.png 2x"
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="./image/fruits/strawberry@1x.png 1x, ./image/fruits/strawberry@2x.png 2x"
              type="image/png"
            />
            <img
              class="fruits-img"
              src="./image/fruits/strawberry@1x.png"
              alt="strawberry"
              width="295"
              height="251"
              loading="lazy"
            />
          </picture>

          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="./image/fruits/Oval@1x.png 1x, ./image/fruits/Oval@2x.png 2x"
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="./image/fruits/Oval@1x.png 1x, ./image/fruits/Oval@2x.png 2x"
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="./image/fruits/Oval@1x.png 1x, ./image/fruits/Oval@2x.png 2x"
              type="image/png"
            />
            <img
              class="fruits-oval"
              src="./image/fruits/Oval@1x.png"
              alt="oval"
              width="195"
              height="38"
              loading="lazy"
            />
          </picture>
        </div>
        <p class="fruits-price">100 UAH / kg</p>
      </li>
      <li class="fruits-item banana">
        <h3 class="fruits-name">Banana</h3>
        <p class="fruits-plant">Plant</p>
        <div class="fruits-picture">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="./image/fruits/banana@1x.png 1x, ./image/fruits/banana@2x.png 2x"
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="./image/fruits/banana@1x.png 1x, ./image/fruits/banana@2x.png 2x"
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="./image/fruits/banana@1x.png 1x, ./image/fruits/banana@2x.png 2x"
              type="image/png"
            />
            <img
              class="fruits-img"
              src="./image/fruits/banana@1x.png"
              alt="banana"
              width="295"
              height="251"
              loading="lazy"
            />
          </picture>

          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="./image/fruits/Oval@1x.png 1x, ./image/fruits/Oval@2x.png 2x"
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="./image/fruits/Oval@1x.png 1x, ./image/fruits/Oval@2x.png 2x"
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="./image/fruits/Oval@1x.png 1x, ./image/fruits/Oval@2x.png 2x"
              type="image/png"
            />
            <img
              class="fruits-oval"
              src="./image/fruits/Oval@1x.png"
              alt="oval"
              width="195"
              height="38"
              loading="lazy"
            />
          </picture>
        </div>
        <p class="fruits-price">80 UAH / kg</p>
      </li>
      <li class="fruits-item watermelon">
        <h3 class="fruits-name">Watermelon</h3>
        <p class="fruits-plant">Plant</p>
        <div class="fruits-picture">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="./image/fruits/watermelon@1x.png 1x, ./image/fruits/watermelon@2x.png 2x"
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="./image/fruits/watermelon@1x.png 1x, ./image/fruits/watermelon@2x.png 2x"
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="./image/fruits/watermelon@1x.png 1x, ./image/fruits/watermelon@2x.png 2x"
              type="image/png"
            />
            <img
              class="fruits-img"
              src="./image/fruits/watermelon@1x.png"
              alt="watermelon"
              width="295"
              height="251"
              loading="lazy"
            />
          </picture>
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="./image/fruits/Oval@1x.png 1x, ./image/fruits/Oval@2x.png 2x"
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="./image/fruits/Oval@1x.png 1x, ./image/fruits/Oval@2x.png 2x"
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="./image/fruits/Oval@1x.png 1x, ./image/fruits/Oval@2x.png 2x"
              type="image/png"
            />
            <img
              class="fruits-oval"
              src="./image/fruits/Oval@1x.png"
              alt="oval"
              width="195"
              height="38"
              loading="lazy"
            />
          </picture>
        </div>
        <p class="fruits-price">40 UAH / kg</p>
      </li>
      <li class="fruits-item lime">
        <h3 class="fruits-name">Lime</h3>
        <p class="fruits-plant">Plant</p>
        <div class="fruits-picture">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="./image/fruits/lime@1x.png 1x, ./image/fruits/lime@2x.png 2x"
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="./image/fruits/lime@1x.png 1x, ./image/fruits/lime@2x.png 2x"
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="./image/fruits/lime@1x.png 1x, ./image/fruits/lime@2x.png 2x"
              type="image/png"
            />
            <img
              class="fruits-img"
              src="./image/fruits/lime@1x.png"
              alt="lime"
              width="295"
              height="251"
              loading="lazy"
            />
          </picture>
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="./image/fruits/Oval@1x.png 1x, ./image/fruits/Oval@2x.png 2x"
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="./image/fruits/Oval@1x.png 1x, ./image/fruits/Oval@2x.png 2x"
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="./image/fruits/Oval@1x.png 1x, ./image/fruits/Oval@2x.png 2x"
              type="image/png"
            />
            <img
              class="fruits-oval"
              src="./image/fruits/Oval@1x.png"
              alt="oval"
              width="195"
              height="38"
              loading="lazy"
            />
          </picture>
        </div>
        <p class="fruits-price">60 UAH / kg</p>
      </li>
      <li class="fruits-item apple">
        <h3 class="fruits-name">Apple</h3>
        <p class="fruits-plant">Plant</p>
        <div class="fruits-picture">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="./image/fruits/apple@1x.png 1x, ./image/fruits/apple@2x.png 2x"
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="./image/fruits/apple@1x.png 1x, ./image/fruits/apple@2x.png 2x"
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="./image/fruits/apple@1x.png 1x, ./image/fruits/apple@2x.png 2x"
              type="image/png"
            />
            <img
              class="fruits-img"
              src="./image/fruits/apple.png"
              alt="apple"
              width="295"
              height="251"
              loading="lazy"
            />
          </picture>
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="./image/fruits/Oval@1x.png 1x, ./image/fruits/Oval@2x.png 2x"
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="./image/fruits/Oval@1x.png 1x, ./image/fruits/Oval@2x.png 2x"
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="./image/fruits/Oval@1x.png 1x, ./image/fruits/Oval@2x.png 2x"
              type="image/png"
            />
            <img
              class="fruits-oval"
              src="./image/fruits/Oval@1x.png"
              alt="oval"
              width="195"
              height="38"
              loading="lazy"
            />
          </picture>
        </div>
        <p class="fruits-price">50 UAH / kg</p>
      </li>
      <li class="fruits-item peach">
        <h3 class="fruits-name">Peach</h3>
        <p>Plant</p>
        <div class="fruits-picture">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="./image/fruits/peach@1x.png 1x, ./image/fruits/peach@2x.png 2x"
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="./image/fruits/peach@1x.png 1x, ./image/fruits/peach@2x.png 2x"
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="./image/fruits/peach@1x.png 1x, ./image/fruits/peach@2x.png 2x"
              type="image/png"
            />
            <img
              class="fruits-img"
              src="./image/fruits/peach@1x.png"
              alt="peach"
              width="295"
              height="251"
              loading="lazy"
            />
          </picture>
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="./image/fruits/Oval@1x.png 1x, ./image/fruits/Oval@2x.png 2x"
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="./image/fruits/Oval@1x.png 1x, ./image/fruits/Oval@2x.png 2x"
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="./image/fruits/Oval@1x.png 1x, ./image/fruits/Oval@2x.png 2x"
              type="image/png"
            />
            <img
              class="fruits-oval"
              src="./image/fruits/Oval@1x.png"
              alt="oval"
              width="195"
              height="38"
              loading="lazy"
            />
          </picture>
        </div>
        <p class="fruits-price">80 UAH / kg</p>
      </li>
      <li class="fruits-item plums">
        <h3 class="fruits-name">Plums</h3>
        <p class="fruits-plant">Plant</p>
        <div class="fruits-picture">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="./image/fruits/plums@1x.png 1x, ./image/fruits/plums@2x.png 2x"
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="./image/fruits/plums@1x.png 1x, ./image/fruits/plums@2x.png 2x"
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="./image/fruits/plums@1x.png 1x, ./image/fruits/plums@2x.png 2x"
              type="image/png"
            />
            <img
              class="fruits-img"
              src="./image/fruits/plums@1x.png"
              alt="plums"
              width="295"
              height="251"
              loading="lazy"
            />
          </picture>
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="./image/fruits/Oval@1x.png 1x, ./image/fruits/Oval@2x.png 2x"
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="./image/fruits/Oval@1x.png 1x, ./image/fruits/Oval@2x.png 2x"
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="./image/fruits/Oval@1x.png 1x, ./image/fruits/Oval@2x.png 2x"
              type="image/png"
            />
            <img
              class="fruits-oval"
              src="./image/fruits/Oval@1x.png"
              alt="oval"
              width="195"
              height="38"
              loading="lazy"
            />
          </picture>
        </div>
        <p class="fruits-price">40 UAH / kg</p>
      </li>
      <li class="fruits-item orange">
        <h3 class="fruits-name">Orange</h3>
        <p class="fruits-plant">Plant</p>
        <div class="fruits-picture">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="./image/fruits/orange@1x.png 1x, ./image/fruits/orange@2x.png 2x"
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="./image/fruits/orange@1x.png 1x, ./image/fruits/orange@2x.png 2x"
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="./image/fruits/orange@1x.png 1x, ./image/fruits/orange@2x.png 2x"
              type="image/png"
            />
            <img
              class="fruits-img"
              src="./image/fruits/orange@1x.png"
              alt="orange"
              width="295"
              height="251"
            />
          </picture>
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="./image/fruits/Oval@1x.png 1x, ./image/fruits/Oval@2x.png 2x"
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="./image/fruits/Oval@1x.png 1x, ./image/fruits/Oval@2x.png 2x"
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="./image/fruits/Oval@1x.png 1x, ./image/fruits/Oval@2x.png 2x"
              type="image/png"
            />
            <img
              class="fruits-oval"
              src="./image/fruits/Oval@1x.png"
              alt="oval"
              width="195"
              height="38"
              loading="lazy"
            />
          </picture>
        </div>
        <p class="fruits-price">60 UAH / kg</p>
      </li>
      <li class="fruits-item kiwi">
        <h3 class="fruits-name">Kiwi</h3>
        <p class="fruits-plant">Plant</p>
        <div class="fruits-picture">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="./image/fruits/kiwi@1x.png 1x, ./image/fruits/kiwi@2x.png 2x"
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="./image/fruits/kiwi@1x.png 1x, ./image/fruits/kiwi@2x.png 2x"
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="./image/fruits/kiwi@1x.png 1x, ./image/fruits/kiwi@2x.png 2x"
              type="image/png"
            />
            <img
              class="fruits-img"
              src="./image/fruits/kiwi.png"
              alt="kiwi"
              width="295"
              height="251"
            />
          </picture>
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="./image/fruits/Oval@1x.png 1x, ./image/fruits/Oval@2x.png 2x"
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="./image/fruits/Oval@1x.png 1x, ./image/fruits/Oval@2x.png 2x"
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="./image/fruits/Oval@1x.png 1x, ./image/fruits/Oval@2x.png 2x"
              type="image/png"
            />
            <img
              class="fruits-oval"
              src="./image/fruits/Oval@1x.png"
              alt="oval"
              width="195"
              height="38"
              loading="lazy"
            />
          </picture>
        </div>
        <p class="fruits-price">90 UAH / kg</p>
      </li>
    </ul>
    <button class="fruits-btn js-open-modal" type="button" data-order-open>
      <span class="fruits-btn-icon-order">
        <svg class="fruits-btn-icon" width="14" height="14">
          <use href="./image/sprite.svg#icon-arrow"></use>
        </svg>
        <span class="fruits-btn-order">Order</span>
      </span>
    </button>
  </div>
</section>
