<header class="header">
  <div class="container">
    <a href="./index.html" class="link logo-link"><img src="../img/logo.svg" alt="logo">Canvas
      Lancer</a>
    <nav class="navigation">
      <ul class="list list-nav">
        <li><a href="" class="link list-link">Home</a></li>
        <li><a href="" class="link list-link">About Us</a></li>
        <li><a href="" class="link list-link">Services</a></li>
        <li><a href="" class="link list-link">Portfolio</a></li>
        <li><a href="" class="link list-link">Testimonials</a></li>
        <li><a href="" class="link list-link">Faqs</a></li>
      </ul>
    </nav>
    <button type="button" class="header-btn">Contact Us</button>
  </div>
</header>
