<!-- Header section -->
<header class="header">
<div class="container header-container">
<nav class="header-nav">
<ul class="list-nav">
<li class="list"> <a class="header-link" href="./how-it-works.html">How It Works</a></li>
<li class="list"> <a class="header-link" href="./fruits.html">Fruits</a></li>
<li class="list"> <a class="header-link" href="./contacts.html">Contacts</a></li>
</ul></nav>
<a class="" href="#footer"><svg class="header-icon" width="16" height="16"> <use href="./image/header/icon/icon-header.svg#logo-header"> </use> </svg>FRESH HARVEST BOX</a>
<a class="" href="#fruits"><svg class="header-icon" width="16" height="16"> <use href="./image/header/icon/icon-header.svg#icon-basket"> </use> </svg>  </a>
 
</div></header>