<section class="hero-section">
       
    <div class="hero-container">
        <h1 class="hero-title-mobile">fresh harvest box <br />is your one-stop place <br />for a delicious fruit <br />basket</h1>
        <h1 class="hero-title">fresh harvest box <br />is your one-stop place for  <br />a delicious fruit basket</h1>
              

        <div class="hero-shopnow-button-mobile">
            <a class="hero-shopnow-link-mobile link" href="index.html#fruits">shop <br /> now</a>
        </div> 


        <div class="hero-fruits-container">

            <div class="hero-watermelon-container">
                <p class="hero-watermelon-container-text">Our expertly curated fruit baskets are made with the freshest, highest quality fruits available. Whether you are looking for a healthy snack or a gift for a loved one, Fresh Harvest Box has got you covered.
                </p>

                <div class="hero-watermelon-block">
                    <h2 class="hero-watermelon-title">Fruit</h2>
                    
                    <div class="hero-watermelon-picture">
                        <img class="hero-watermelon-image"
                            srcset="./image/hero.image/watermelon-@1x.png 1x,
                                    ./image/hero.image/watermelon-@1x.png 2x"
                            src="./image/hero.image/watermelon.png"
                            alt="refreshing and juicy watermelon"
                            width="200"
                            height="172"
                        >                       
                        <div class="hero-watermelon-oval-shadow"></div>
                    </div>

                    <p class="hero-watermelon-text">Refreshing and juicy, watermelon is the perfect summer treat and a great source of hydration</p>
                </div>
            </div>
                   
            
            <div class="hero-shopnow-button">
                <a class="hero-shopnow-link link" href="index.html/#fruits">shop <br /> now</a>
            </div>


            <ul class="hero-title-block-mobile">
                <li class="hero-title-border-organic-mobile">
                    <h3 class="hero-title-name-mobile">#organic</h3>
                </li>
            
                <li class="hero-title-border-products-mobile">
                    <h3 class="hero-title-name-mobile">#products</h3>
                </li>
            
                <li class="hero-title-border-basket-mobile">
                    <h3 class="hero-title-name-mobile">#basket</h3>
                </li>
            
                <li class="hero-title-border-fruits-mobile">
                    <h3 class="hero-title-name-mobile">#fruits</h3>
                </li>
            </ul>
         

            <div class="hero-strawberry-container">

                <div class="hero-strawberry-block">
                    <h2 class="hero-strawberry-title">Fruit</h2>

                    <div class="hero-strawberry-picture">
                        <img class="hero-strawberry-image"
                            srcset="./image/hero.image/strawberry-@1x.png 1x,
                                    ./image/hero.image/strawberry-@2x.png 2x"
                            src="./image/hero.image/strawberry.png"
                            alt="refreshing and juicy strawberry"
                            width="162"
                            height="185"
                        >
                        <div class="hero-strawberry-oval-shadow"></div>
                    </div>

                    <p class="hero-strawberry-text">Sweet and juicy, <br /> strawberries are packed <br /> with vitamin C and <br /> antioxidants, making them <br /> a delicious and healthy <br /> snack</p>
                </div>
            

                <ul class="hero-title-block">
                    <li class="hero-title-border-organic">
                        <h3 class="hero-title-name">#organic</h3>
                    </li>
            
                    <li class="hero-title-border-products">
                        <h3 class="hero-title-name">#products</h3>
                    </li>
            
                    <li class="hero-title-border-basket">
                        <h3 class="hero-title-name">#basket</h3>
                    </li>
            
                    <li class="hero-title-border-fruits">
                        <h3 class="hero-title-name">#fruits</h3>
                    </li>
                </ul> 
            




            </div>
        </div>
        
    </div>



    
</section>

</html>

