<section class="how-it-works">
  <div class="container">
    <h2 class="title-h-one">To order your fruit basket, simply follow these easy steps</h2>
    <p class="desc">
      Our baskets are assembled with care and delivered straight to your doorstep, so you can enjoy
      the taste of fresh fruit without ever leaving your home. Whether you're looking for a healthy
      snack or a thoughtful gift, our fruit baskets are the perfect choice.
    </p>
    <ul class="step-list list">
      <li class="step-item">
        <div class="step-box">
          <div class="step-btn first">
            <span class="step">FIrst Step</span>
          </div>
          <p class="step-text">
            Just choose the fruit you want to order by clicking on the checkboxes next to it.
          </p>
        </div>
      </li>
      <li class="step-item">
        <div class="step-box">
          <div class="step-btn second">
            <span class="step">Second Step</span>
          </div>
          <p class="step-text">Click on the basket and fill out the form.</p>
        </div>
      </li>
      <li class="step-item">
        <div class="step-box">
          <div class="step-btn third">
            <span class="step">Third Step</span>
          </div>
          <p class="step-text">Sit back and relax! Your fresh fruit basket will be delivered.</p>
        </div>
      </li>
    </ul>
    <!-- <img
            class="step-img"
            src="./images/Fresh Harvest Box.gif"
            alt="Fresh_Harvest"
          /> -->
  </div>
</section>
