:root {
  --pure-white: #ffffff;
  --red-color: #ae1332;
  --card-strawberry-color: #f8766b;
  --card-banana-color: #edd251;
  --card-watermelon-color: #9dc262;
  --card-lime-color: #bfd663;
  --card-apple-color: #e93f29;
  --card-peach-color: #db4f4b;
  --card-plums-color: #9b5366;
  --card-orange-color: #f47f4c;
  --card-kiwi-color: #98b37e;
  --imput-invalid-border-color: #ff0000;
}

body {
  /* font-family: 'DM Sans', sans-serif; */
  color: var(--pure-white);
}

.container {
  min-width: 320px;
  max-width: 375px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

@media only screen and (min-width: 768px) {
  .container {
    padding-right: 32px;
    padding-left: 32px;
    max-width: 768px;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    padding-right: 33px;
    max-width: 1280px;
  }
}

.section {
  background-color: var(--red-color);
}
