.header {
    color: var(--red-color);
}
.header-container {
    display: flex;

}
.header-nav {
    
}
.list-nav {
    display: flex;
    gap: 20px;
}
.list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
.header-link {
}
.header-icon {
    fill: var(--red-color);
}

@media only screen and (min-width: 768px) {
    
  }
  
  @media only screen and (min-width: 1280px) {
    {}
  }